node_modules/

# sbt/mvn specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
/bin/
/SensorData/training_set/

# input
*.txt

target
ideatarget
.target
bin
.cache
.cache-main
.cache-tests
.classpath
.project
.metals
.tmpBin
.factorypath
.settings
logs

# editors specific
*.swp
*~*
*#*
.cache-main
.classpath
.project
.settings/
.*.md.html
.idea/

# scala/java specific
*.class
*.log

# sbt/mvn specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
/bin/

# input
*.txt